<search-box (update)="term = $event"></search-box>

<div>Filter: <input [(ngModel)]="query"></div>

<h5>Assets ({{assets.length}})</h5>

<div class="cards assets">
  <div *ngFor="let asset of assets | filter:term" class="card" [ngClass]="{selected: asset.selected}" (click)="select(asset)">
    <div class="card-thumb">
      <img src="/img/{{asset?.thumbUrl}}" onerror="this.src='/img/default.jpg'">
      <div class="banner fadeOut">
        <a [routerLink]="['/entity', asset._id]">
          <h2 class="cardTitle">{{asset.name}}</h2>
          <h5 class="cardTag">{{asset.type}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>

<h5>Shots ({{shots.length}})</h5>

<div class="cards shots">
  <div *ngFor="let shot of shots" class="card" [ngClass]="{selected: shot.selected}" (click)="select(shot)">
    <div class="card-thumb">
      <img src="/img/{{shot?.thumbUrl}}" onerror="this.src='/img/default.jpg'">
      <div class="banner fadeOut">
        <a [routerLink]="['/entity', shot._id]">
          <h2 class="cardTitle">{{shot.name}}</h2>
          <h5 class="cardTag">{{shot.type}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="fab entity edit" *ngIf="selected.length>0" (click)="editSelected()">
  <div>
    <div class="numSelected">{{selected.length}}</div>
    <i class="material-icons">mode_edit</i>
  </div>
</div>

