<h5>Assets ({{assets.length}})</h5>

<div class="cards assets">
  <div *ngFor="let asset of assets" class="card">
    <div class="card-thumb">
      <img src="/img/{{asset?.thumbUrl}}" onerror="this.src='/img/default.jpg'">
      <div class="banner fadeOut">
        <a [routerLink]="['/entity', asset._id]">
          <h2 class="cardTitle">{{asset.name}}</h2>
          <h5 class="cardTag">{{asset.type}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>

<h5>Shots ({{shots.length}})</h5>

<div class="cards shots">
  <div *ngFor="let shot of shots" class="card">
    <div class="card-thumb">
      <img src="/img/{{shot?.thumbUrl}}" onerror="this.src='/img/default.jpg'">
      <div class="banner fadeOut">
        <a [routerLink]="['/entity', shot._id]">
          <h2 class="cardTitle">{{shot.name}}</h2>
          <h5 class="cardTag">{{shot.type}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>


