<div id="mediaContainer">
  <div id="tools">
  </div>

  <div id="mediaWrapper">
    <input class="commentInput"/>
    
    <canvas #canvasEl id="paint" (mousedown)="canvasMouseDown($event)"
                                 (mouseup)="endPaint($event)"
                                 (mouseout)="endPaint($event)"></canvas>

    <video #video id="vid" 
            width="100%" 
            height="100%" 
            src="{{version?.content}}" 
            type="video/mp4" 
            controls
            loop>
    </video>

    <div id="brush">
      <i class="fa fa-circle"></i>
    </div>

    <input type='range' id='r1' min='1' value='2' max='12' step='1' />

    <!--<canvas id="canvasVid"></canvas>-->

<!--
    <div id="video-controls">
      <<i class="fa fa-play"></i>
      <i class="fa fa-pause"></i>
    </div>
-->

    <div class="frame">  
      <span id="currentFrame">{{frame}}</span>
    </div>

<!--
    <div id="markers">
      <ul id="annotations">

      </ul>
    </div>
-->

    <button id="save-annotation" (click)="saveAnnotation()">Save Annotation</button>
    <button id="load-annotation">Load Annotation</button>
    <button id="clear-annotation" (click)="clearCanvas()">Clear Annotation</button>

    <button (click)="goToNextNote()">Next Note</button>
    <button (click)="goToPreviousNote()">Previous Note</button>
  </div>

  <div id="commentWindow">
    <div id="title">
      Comments
    </div>

    <form (submit)="submitComment()">
      <input id="commentInput" [(ngModel)]="comment" name="comment"/>
    </form>


    <ul id="commentList">
      <li *ngFor="let obj of review">
        {{obj.frame}}
        <div *ngFor="let comment of obj.comments">

          <div class="chips chips-small">
            <div class="chip">
              {{comment.user | firstLetter}}
            </div>
          </div>

          {{comment.text}}
        </div>
      </li>
    </ul>
  </div>


</div>

